[Desktop Entry]
Version=1.0
Name=quirkyturt Core
Comment=quirkyturt P2P Cryptocurrency
Comment[fr]=quirkyturt, monnaie virtuelle cryptographique pair à pair
Comment[tr]=quirkyturt, eşten eşe kriptografik sanal para birimi
Exec=quirkyturt-qt %u
Terminal=false
Type=Application
Icon=quirkyturt128
MimeType=x-scheme-handler/quirkyturt;
Categories=Office;Finance;
StartupWMClass=quirkyturt-qt
