[Desktop Entry]
Version=1.0
Name=quirkturt Core
Comment=quirkturt P2P Cryptocurrency
Comment[fr]=quirkturt, monnaie virtuelle cryptographique pair à pair
Comment[tr]=quirkturt, eşten eşe kriptografik sanal para birimi
Exec=quirkturt-qt %u
Terminal=false
Type=Application
Icon=quirkturt128
MimeType=x-scheme-handler/quirkturt;
Categories=Office;Finance;
StartupWMClass=quirkturt-qt
