policy_module(quirkturt, 1.100.1)

########################################
#
# Declarations
#

type quirkturt_t;
type quirkturt_exec_t;
init_daemon_domain(quirkturt_t, quirkturt_exec_t)

permissive quirkturt_t;

type quirkturt_initrc_exec_t;
init_script_file(quirkturt_initrc_exec_t)

type quirkturt_conf_t;
files_type(quirkturt_conf_t)

type quirkturt_var_lib_t;
files_type(quirkturt_var_lib_t)

type quirkturt_var_run_t;
files_type(quirkturt_var_run_t)

type quirkturt_port_t;
corenet_port(quirkturt_port_t)

########################################
#
# quirkturt local policy
#
allow quirkturt_t self:process { fork };

allow quirkturt_t self:fifo_file rw_fifo_file_perms;
allow quirkturt_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(quirkturt_t, quirkturt_conf_t, quirkturt_conf_t)
manage_files_pattern(quirkturt_t, quirkturt_conf_t, quirkturt_conf_t)

manage_dirs_pattern(quirkturt_t, quirkturt_var_lib_t, quirkturt_var_lib_t)
manage_files_pattern(quirkturt_t, quirkturt_var_lib_t, quirkturt_var_lib_t)
files_var_lib_filetrans(quirkturt_t, quirkturt_var_lib_t, { dir file })

manage_dirs_pattern(quirkturt_t, quirkturt_var_run_t, quirkturt_var_run_t)
manage_files_pattern(quirkturt_t, quirkturt_var_run_t, quirkturt_var_run_t)

sysnet_dns_name_resolve(quirkturt_t)
corenet_all_recvfrom_unlabeled(quirkturt_t)

allow quirkturt_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(quirkturt_t)
corenet_tcp_sendrecv_generic_node(quirkturt_t)
corenet_tcp_sendrecv_all_ports(quirkturt_t)
corenet_tcp_bind_generic_node(quirkturt_t)

gen_require(`
    type quirkturt_port_t;
')
allow quirkturt_t quirkturt_port_t:tcp_socket name_bind;

gen_require(`
    type quirkturt_port_t;
')
allow quirkturt_t quirkturt_port_t:tcp_socket name_connect;

domain_use_interactive_fds(quirkturt_t)

files_read_etc_files(quirkturt_t)

miscfiles_read_localization(quirkturt_t)

sysnet_dns_name_resolve(quirkturt_t)

allow quirkturt_t quirkturt_exec_t:file execute_no_trans;
allow quirkturt_t self:process setsched;
corecmd_exec_ls(quirkturt_t)
corenet_tcp_connect_http_port(quirkturt_t)
dev_read_urand(quirkturt_t)
fs_getattr_xattr_fs(quirkturt_t)
kernel_read_system_state(quirkturt_t)
