# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=quirkturt Core
Comment=quirkturt Core QT main network
GenericName=quirkturt Digital Currency QT client main network
Exec=quirkturt-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/quirkturt.png
MimeType=x-scheme-handler/quirkturt;
Categories=X-Office;X-Finance;
Keywords=internet;quirkturt;zqrtc;qrtc;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
