# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=quirkyturt Core Daemon SNAP
Comment=testnet
GenericName=quirkyturt Digital Currency Daemon Client testnet network
Exec=quirkyturt-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/quirkyturt_testnet.png
MimeType=x-scheme-handler/qrtc;
Categories=X-Office;X-Finance;
Keywords=internet;quirkyturt;zqrtc;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
