# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=quirkturt Core
Comment=quirkturt Core QT test network
GenericName=quirkturt Digital Currency QT client testnet network
Exec=quirkturt-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/quirkturt_testnet.png
MimeType=x-scheme-handler/qrtc;
Categories=X-Office;X-Finance;
Keywords=internet;quirkturt;zqrtc;tqrtc;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
